@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

/* Estilos globales */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
section {
  overflow-x: hidden;
  background: #fdfdfd;
}

/* Variables */
:root {
  /*tamaño para contenedores*/
  --container-width-pantallaGrande: 80%;
  --container-width-pantallaChica: 90%;

  /* ---colores globales--- */
  /* colores primarios */

  --firts-color-red: #e83d21;
  --firts-color-skybleu: #26a4da;
  --firts-color-green-1: #4fbd55;
  --firts-color-green-2: #3bcc2f;
  --firts-color-yellow: #f0e842;
  --firts-color-griss: #d9d9d9;
  --firts-color-white: #ffff;

  /* colores de texto */
  --color-title-1: #2c353e;
  --color-text-1: #242424;
  --color-text-opaco: #64646d;

  /*========== fuentes ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --h1-font-size: 1.8rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*transiciones*/
  --transition: all 500ms ease-in-out;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  --fuente-opensang: "Open Sans", sans-serif;
  --fuente-monserrat: "Montserrat", sans-serif;
}

/* Tipografia responsiva */
@media screen and (min-width: 1024px) {
  :root {
    --h1-font-size: 2.6rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*================================= Estilos Generales =================================*/

/* Estilos sobre los titulos */
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-family: var(--fuente-monserrat);
  color: var(--color-title-1);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

body {
  font-size: var(--normal-font-size);
  background: #fdfdfd;
  color: var(--color-text-1);
  transition: 0.3s; /* For animation dark mode */
}
p {
}

/*================================= Clases CSS reusables =================================*/
.container {
  width: var(--container-width-pantallaGrande);
  max-width: 1920px;
  margin-inline: auto;
}

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.boton-base {
  font-weight: var(--font-semi-bold);
  font-family: var(--fuente-opensang);
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}

.logo {
  width: 8rem;
  display: block;
}

/* Estilos generales */
.box-with-shadow {
  box-shadow: 0 0 3px rgba(0,0,0, .20); /* Sombra predeterminada en ambos temas */
}
.a-active{
  color: #242424;
}
.borde-card{
  border: 1px solid #E6E8EC;
  border-radius: 5px;
}

/* Estilos para el tema oscuro */
[data-theme="dark"] .box-with-shadow {
  box-shadow: 0 0 3px rgba(82, 81, 81, 0.2); /* Sombra específica para el tema oscuro */
}
[data-theme="dark"] .a-active{
  color: #fff;
}
[data-theme="dark"] .borde-card{
  border:  1px solid #27272A;
}
[data-theme="dark"] body{
  background: #0F0F15;
}

/*Estilos para el apartado de secciones*/
.btn-save{
  padding: .9rem 1rem;
  background-color: #26a4da;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #26a4da;
  transition: all .3s;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}
.btn-save:hover{
  background: none;
  border-color: #26a4da;
  color: #26a4da;
}
.btn-addseccion{
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------------------------------------*/

.header-grid{
  font-weight: bold;
  background-color: #26a4da;
  color: #f8f7f7;
}

/* MEDIA QUERIES (medium screen) */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-pantallaChica);
  }
}
