.footer-container{
    margin-top: 8rem;
    margin-bottom: 3rem;
}
.linia
{
  width: 100%;
  height: 2px;
  background: #ccc;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.cont-footer-central{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 8rem 30rem;
    gap: 5rem;
}
.cont-logo{
    width: 65%;
}
.columna1-footer p
{
  margin-top: 1.8rem;
  font-size: var(--small-font-size);
  color: var(--color-text-opaco);
}
.columna2-footer{
    text-align: center;
}
.cont-media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.media{
    background: var(--firts-color-skybleu);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon {
    color: #fff;
}

.columna3-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.columna3-footer .imagen-cont
{
    height: 10rem;
    width: 14rem;
}
.img-f
{
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 2px 1px rgba(0,0,0, .30);
}

.pie-de-pagina
{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pie-de-pagina p{
    font-size: var(--small-font-size);
}
.creditos
{
    display: flex;
    align-items: center;
}
.creditos p:nth-child(1)
{
    margin-right: 2rem;
}