.link,.exit{
    width: 95%;
    display: flex;
    align-items: center;
    transition: all .3s;
    padding: 7px 12px;
    border-radius: 4px;
}
.exit{
    gap: .7rem;
    cursor: pointer;
}
.link-active{
    
 background: #168CC8;
 color: #fff;
}